service vendor.fps_hal /vendor/bin/hw/android.hardware.biometrics.fingerprint@2.1-service.xiaomi_kona
    class late_start
    user system
    group system input uhid
    writepid /dev/cpuset/system-background/tasks

on post-fs-data
    mkdir /data/vendor/goodix 0777 system system
    mkdir /data/vendor/fpc 0777 system system
